:host {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  line-height: 0.9em;
}

.status {
  width: 1em;
  height: 1em;
  font-size: 0.8em;
  line-height: 1.05em;
  margin-right: 10px;

  display: inline-block;
  text-align: center;
  border: 1px solid #666;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: #ddd;
  }
}

.text {
  display: inline-block;
}

.cross {
  text-decoration: line-through;
  opacity: 0.4;
}

form {
  display: inline-block;
}

input {
  padding: 0px 10px;
  margin: 0;
  border: 1px solid #666;
  border-radius: 3px;
}
